* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: KoHo, sans-serif;
}

body {
    color: white;
    /* background-image: linear-gradient(190deg, rgb(187, 134, 11), rgb(228, 195, 51)); */

}

#com-input {
    margin: 20px;
    padding: 10px;
    /* background-image: linear-gradient(340deg, rgba(200, 175, 61), rgb(128, 41, 0, 0.767)); */
    max-width: 1000px;
    height: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

}

#com-input>input {
    background-color: white;
    outline: none;
    border: 2px solid whitesmoke;
    width: 200px;
    height: 40px;
    margin: 5px 15px;
    border-radius: 10px;
    padding: 5px;
    font-size: 0.9rem;
    font-weight: 800;
    /* box-shadow: rgba(0, 0, 0, 0.089)0 5px 5px, rgba(0, 0, 0, 0.356)0 5px 5px; */

}

#com-input>input::placeholder {
    opacity: 0.9;
    color: black;
}

#com-input>button {
    border: 1px solid whitesmoke;
    outline: none;
    border-radius: 10px;
    height: 25px;
    width: 110px;
    background-color: white;

    font-weight: 900;
}


.author-name {
    font-weight: 900;
    margin: 0;
}

.title-name {
    text-decoration: underline;
}

.article-box {
    background-color: white;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.089)0 5px 5px, rgba(0, 0, 0, 0.356)0 5px 5px;
    margin: 10px auto 0 0;
    min-width: 350px;
    max-width: 500px;
    background-image: linear-gradient(340deg, rgba(128, 41, 0, 0.767), rgb(200, 175, 61));
    font-weight: 800;
    min-height: 100px;
}

.article-top-section {
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    font-size: 1.2em;
}

#post-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}