@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffc996;
}

header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    min-height: 20px;
    /* background-color: #31326f; */
    background-color: #9f5f80;
    border-radius: 0 0 40px 40px;
    align-items: center;
    box-shadow: 0 0 5px #2f3640;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.logo {
    height: 45px;
    cursor: pointer;
    padding-left: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding-right: 30px;
}

.nav-links a {
    letter-spacing: 3px;
    color: #ffc996;
    text-decoration: none;
    font-size: 18px;
}

.nav-bar-items {
    padding: 0 20px;
    margin: 0 10px;
}

li {
    transition: ease-in-out .4s;
}

li:hover {
    transform: scale(1.2);
}

a {
    transition: ease-in-out .4s;
}

.nav-bar-items:hover {
    color: #9f5f80;
    background-color: #ff8474;
    border-radius: 40px;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: auto;
    width: 100vw;
    z-index: 0;
    padding: 40px;

}



.blogs {
    position: relative;
    height: 300px;
    width: 250px;
    background-color: #ff8474;
    text-align: center;
    border-radius: 40px;
    transition: ease-in-out .2s;
    box-shadow: 0 0 5px #2f3640;
    margin: 50px 20px;
}

.blogs:hover {
    transform: scale(1.1);
}

.react-img {
    width: 100px;
    margin: 60px;
    transition: ease-in-out .2s;
}

.angular-img {
    width: 100px;
    margin: 60px;
    transition: ease-in-out .2s;
}

.angular-img:hover,
.react-img:hover {
    transform: scale(1.1);
}

.post-link {
    position: absolute;
    color: white;
    text-align: left;
    font-size: 10px;
    text-decoration: overline;
    left: 20px;
    bottom: 20px;
}

a {
    text-decoration: none;
}

.post-link:hover {
    font-size: 11px;
    transition: ease-in-out .2s;
}

@media screen and (max-width: 768px) {
    .container {
        justify-content: center;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        justify-content: center;
    }
}

#myBtn {
    background-color: #9f5f80;
    border: none;
    border-radius: 50%;
    color: #ffc996;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    transition: ease-in-out .3s;
    z-index: 99;
}

#myBtn:hover {
    transform: scale(1.2);
    background-color: #2f3640;
    color: #ffc996;
}