@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffc996;
}

header {
    display: flex;
    justify-content: space-;
    min-height: 20px;
    /* background-color: #31326f; */
    background-color: #9f5f80;
    border-radius: 0 0 40px 40px;
    align-items: center;
    box-shadow: 0 0 5px #2f3640;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.logo {
    height: 45px;
    cursor: pointer;
    padding-left: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding-right: 30px;
}

.nav-links a {
    letter-spacing: 3px;
    color: #ffc996;
    text-decoration: none;
    font-size: 18px;
}

.nav-bar-items {
    padding: 0 20px;
    margin: 0 10px;
}

li {
    transition: ease-in-out .4s;
}

li:hover {
    transform: scale(1.2);
}

a {
    transition: ease-in-out .4s;
}

.nav-bar-items:hover {
    color: #9f5f80;
    background-color: #ff8474;
    border-radius: 40px;
}